In [2]:
#Q1 Create myTuple tuple with the follwoing values ("NPower","JDA","Tuesday",30,3,2021)
myTuple=("NPower","JDA","Tuesday",30,3,2021)
myTuple

('NPower', 'JDA', 'Tuesday', 30, 3, 2021)

In [3]:
#Q2 What is the type of myTuple
type(myTuple)

tuple

In [4]:
#Q3 What is the length of myTuple
len(myTuple)

6

In [8]:
#Q4 print the values in each index #Use regular indexing 
print(myTuple[0])
print(myTuple[1])
print(myTuple[2])
print(myTuple[3])
print(myTuple[4])
print(myTuple[5])

NPower
JDA
Tuesday
30
3
2021

In [12]:
#Q5 print the values in each index #Use negative indexing 
print(myTuple[-1])
print(myTuple[-2])
print(myTuple[-3])
print(myTuple[-4])
print(myTuple[-5])
print(myTuple[-6])

2021
3
30
Tuesday
JDA
NPower

In [16]:
#Q6 what is the type of each value
print(type(myTuple[0]))
print(type(myTuple[1]))
print(type(myTuple[2]))
print(type(myTuple[3]))
print(type(myTuple[4]))
print(type(myTuple[5]))

<class 'str'>
<class 'str'>
<class 'str'>
<class 'int'>
<class 'int'>
<class 'int'>

In [24]:
#Q7 unpack myTuple in the follwoeing variables name,program,dayName,month,day,year accordingly 
# print the variables 
name,program,dayName,month,day,year=myTuple
print(name)
print(program)
print(dayName)
print(month)
print(day)
print(year)

NPower
JDA
Tuesday
30
3
2021

In [25]:
#Q8 unpack myTuple2 in the follwoing variables:name,program,dayName.
# What will happen to variables (name,program,dayName) and (month,day,year)
myTuple2=("Coursera","Data Analysis","Tuesday")
name,program,dayName=myTuple2
print(name)
print(program)
print(dayName)
print(month)
print(day)
print(year)

Coursera
Data Analysis
Tuesday
30
3
2021

In [26]:
# Note the following
Tuple1=("Jerry",2,89) #This is a tuple with 3 elements 
Tuple2=("Ulan")#This is a tuple with 1 element
test="Leul" #This is a VARIABLE with string value

a,b,c=Tuple1
print("Type a",type(a))
print(a,b,c)

d=Tuple2
print(type(d))
print(d)

e=test
print(e)

Type a <class 'str'>
Jerry 2 89
<class 'str'>
Ulan
Leul

In [27]:
#Tuples are immutable
#we can always make the testTuple variable reference a new tuple in the memory 
#and holding different information

testTuple=(1,2,3)
print(testTuple)

testTuple=(4,5,6)
print(testTuple)

#But we can't change or edit a value for the existing tuple

testTuple[0]=6 #ERROR 'tuple' object does not support item assignment

(1, 2, 3)
(4, 5, 6)

TypeError: 'tuple' object does not support item assignment

In [35]:
#Q9 Reverse myTuple, output should looks like ("NPower","JDA","Tuesday",30,3,2021)
rev=myTuple[::-1]
print(rev)
rev=tuple(reversed(myTuple))
print(rev)

(2021, 3, 30, 'Tuesday', 'JDA', 'NPower')
(2021, 3, 30, 'Tuesday', 'JDA', 'NPower')

In [36]:
#Q10 Create nestedTuple=(("Coursera","course",6),("week",(2,"Lists","Tuple")))
nestedTuple=(("Coursera","course",6),("week",(2,"Lists","Tuple")))
nestedTuple

(('Coursera', 'course', 6), ('week', (2, 'Lists', 'Tuple')))

In [37]:
#Q11 What is the output of nestedTuple[1:2]
nestedTuple[1:2]

(('week', (2, 'Lists', 'Tuple')),)

In [42]:
#Q12 print each element in the nestedTuple
print(nestedTuple[0])
print(nestedTuple[0][0])
print(nestedTuple[0][1])
print(nestedTuple[0][2])
print(nestedTuple[1])
print(nestedTuple[1][0])
print(nestedTuple[1][1])
print(nestedTuple[1][1][0])
print(nestedTuple[1][1][1])
print(nestedTuple[1][1][2])

('Coursera', 'course', 6)
Coursera
course
6
('week', (2, 'Lists', 'Tuple'))
week
(2, 'Lists', 'Tuple')
2
Lists
Tuple

In [43]:
#Q13 Access (2,"Lists","Tuple") from nestedTuple
print(nestedTuple[1][1])

(2, 'Lists', 'Tuple')

In [44]:
#Q14 Access "Lists" from nestedTuple
print(nestedTuple[1][1][1])

Lists

In [45]:
#Q15 Access "Tuple" from nestedTuple
print(nestedTuple[1][1][2])

Tuple

In [46]:
#Q16 Access "course" from nestedTuple
print(nestedTuple[0][1])

course

In [2]:
#Q17 Concatenate myTuple with nestedTuple
myTuple=("NPower","JDA","Tuesday",30,3,2021)
nestedTuple=(("Coursera","course",6),("week",(2,"Lists","Tuple")))
myTuple=myTuple + nestedTuple
myTuple

('NPower',
 'JDA',
 'Tuesday',
 30,
 3,
 2021,
 ('Coursera', 'course', 6),
 ('week', (2, 'Lists', 'Tuple')))

In [3]:
#Q18 add your name to the tuple
myTuple=myTuple + ("Saloni",)
myTuple

('NPower',
 'JDA',
 'Tuesday',
 30,
 3,
 2021,
 ('Coursera', 'course', 6),
 ('week', (2, 'Lists', 'Tuple')),
 'Saloni')

In [4]:
#Q19 check whether Coursera exists within a myTuple

# NOTE in doesn't work properly with nested tuples # Wrong output
"Coursera" in myTuple

False

In [5]:
#Q20 check whether an element exists within a testTuple
testTuple=("5","sp",45,67.3,"India")
print("India" in testTuple)
print("Canada" in testTuple)
testTuple.index("sp")

True
False

1

In [6]:
#Q21 Find the index of JDA in myTuple
print(myTuple.index("JDA"))

# Find the index of 'Coursera' in myTuple
print(myTuple.index("Coursera"))
# NOTE index doesn't work properly with nested tuples # Wrong output

1

ValueError: tuple.index(x): x not in tuple

In [7]:
#Q22 print index 8 from myTuple
myTuple[8]

'Saloni'

In [8]:
#Q23 Get the 4th element and 4th element from last of a myTuple
print(myTuple[3])
print(myTuple[-4])

30
2021

In [9]:
#Q24 Find how many times 27 appeared in the tuple [Hint: Use method count()]
myTuple.count(27)

0

In [10]:
myTuple.count(3)

1