# Python Basics NoteBook

In [4]:
#Write a Python code to return your Python version
import sys
sys.version

'3.8.5 (default, Sep  3 2020, 21:29:08) [MSC v.1916 64 bit (AMD64)]'

In [44]:
#Write a Python code to declare variable id="513". 
#Print the following statement "customer id =513". [Don't use print("customer id =513")]
id="513"
"customer id 513"

'customer id 513'

In [9]:
#Run the following statement, why there is an error

id=id+1
#Because we have declared variable id as "string" and we can not add int value to string

TypeError: can only concatenate str (not "int") to str

In [10]:
#Convert the variable id into an integer, increment it by 1.
#Assign the result to variable new_id.
#Print the new_id
new_id= int(id) + 1
new_id

514

In [43]:
#Write a Python code to print the following string in a specific format (see the output). 

# Twinkle, twinkle, little star, 
#     How I wonder what you are! 
#        Up above the world so high, 
#            Like a diamond in the sky.

print("Twinkle, twinkle, little star,\n\tHow I wonder what you are!\n\t\tUp above the world so high,\n\t\t\t Like a diamond in the sky.")

#anotherway using multiline string
print("""Twinkle, twinkle, little star, 
    How I wonder what you are! 
        Up above the world so high, 
            Like a diamond in the sky""")

Twinkle, twinkle, little star,
	How I wonder what you are!
		Up above the world so high,
			 Like a diamond in the sky.
Twinkle, twinkle, little star,
    How I wonder what you are!
        Up above the world so high,
            Like a diamond in the sky

In [27]:
#Givin the following string variable, # Print the first element in the string

course="Python for Data Science"
course[0]

'P'

In [28]:
# Print the element on the 13th index in the string
course[13]

't'

In [29]:
# Find the length of string
len(course)

23

In [30]:
# Print the last element in the string [use negative index]
course[-1]

'e'

In [31]:
# Take the slice on variable course with only index 11 to index 14
course[11:15]

'Data'

In [32]:
# Get every third element in the range from index 0 to index 20
course[0:21:3]

'Ph ra i'

In [37]:
# Concatenate course string with ", AI & Development"
new_string=course + ", AI & Development"
new_string

'Python for Data Science, AI & Development'

In [40]:
# Replace all the spaces with (_). New string should looks like"Python_for_Data_Science,_AI_&_Development"
a=new_string.replace(" ","_")
a

'Python_for_Data_Science,_AI_&_Development'

In [41]:
# Convert all the characters in string to upper case
a.upper()

'PYTHON_FOR_DATA_SCIENCE,_AI_&_DEVELOPMENT'